.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.error {
    -fx-fill: red;
}

.info {
    -fx-fill: green;
}

.text_console {
    -fx-border-color: gray;
    -fx-border-insets: 5;
    -fx-border-width: 1;
 }
